.button {
  background-color: rgb(170, 102, 233);
  color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 5px;
  border: 1px solid blueviolet;
  cursor: pointer;
  &:hover {
    background-color: rgb(88, 87, 87);
  }
}
