.footer {
  background-color: rgb(177, 168, 168);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.telegram {
  width: 40px;
  height: 40px;
}

.telegram-box {
  text-decoration: none;
  color: black;
}

.footer-navy {
  display: flex;
  gap: 20px;
}
